@import 'mixins';


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    background-color: $lightGray;
    padding: 4.4375rem 1.4375rem;

    &-item {
        width: 100%;
        margin: auto;
        text-align: left;
        padding: 0 1.9375rem 1.9375rem 1.9375rem;
        border-radius: 0.7rem;

        &-div {
            width: 12.1875rem;
            min-height: 2.3rem;
            margin-top: 1.4375rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background-color: yellow;

            &-image {
                height: 2.5rem;
                border-radius: 50%;
            }

            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: $fontFamily;
                min-height: 100%;
                padding: 0;

                > h3 {
                    color: $white;
                    font-size: 1.0625rem;
                    margin-top: 0;
                }

                > h4 {
                    color: $lightGray;
                    margin-bottom: 0;
                }
            }
        }

        .heading {
            font-family: $fontFamily;
            font-size: 1.4375rem;
            font-weight: $lightWeight;
            color: $white;
            margin: 1.3125rem 0;
        }

        .quotes {
            font-family: $fontFamily;
            font-size: 1.25rem;
            color: $lightGray;
        }
    }

    .grid1 {
        // min-height: 27.75rem;
        min-height: auto;
        background-color: $moderateVoilet;
        background-repeat: no-repeat;
        background-position: 95% 0%;
        background-image: url('/images/bg-pattern-quotation.svg');


        .grid-item-div {

            img {
                border: 3px solid $lightGrayishBlue; 
            }

            > div {
                
                
                > h3 {
                    color: $white;
                }
            }
        }
        

        @include breakpoints-desktop(large) {
            background-position: 98% 0%;
        }
    }

    .grid2 {
        background-color: $varyDarkBlackishBlue;
    }

    .grid3 {
        background-color: $white;
        color: $veryDarkGrayishBlue;

        .grid-item-div {

            > div {
                img {

                }
                
                > h3 {
                    color: $varyDarkBlackishBlue;
                }
            }
        }

        .heading {
            color: $veryDarkGrayishBlue;
        }
    }

    .grid4 {
        background-color: $varyDarkBlackishBlue;
    }
    
    .grid5 {
        background-color: $white;
        color: $veryDarkGrayishBlue;

        .grid-item-div {

            > div {
                img {

                }
                
                > h3 {
                    color: $varyDarkBlackishBlue;
                }
            }
        }

        .heading {
            color: $veryDarkGrayishBlue;
        }
    }
}