@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: $bodyFontSize;
}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}