// Style Guide
    
// Colors
    // Primary
    $moderateVoilet: hsl(263, 55%, 52%);
    $veryDarkGrayishBlue: hsl(217, 19%, 35%);
    $varyDarkBlackishBlue: hsl(219, 29%, 14%);
    $white: hsl(0, 0%, 100%);


    // Neutral
    $lightGray: hsl(0, 0%, 81%);
    $lightGrayishBlue: hsl(210, 46%, 95%);


    // Note for Colors:
    $verifiedGradOpacity: 50%;
    $reviewParaOpacity: 70%;


// Typography
    // Body
    $bodyFontSize: 0.8125rem;

    // Fonts
    $fontFamily: 'Barlow Semi Condensed', sans-serif;
    $lightWeight: 500;
    $boldWeight: 600;

